<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="KAFKA" class="chapter4.logback.KafkaAppender">		
		<formatter class="chapter4.logback.JsonFormatter">
			<expectJson>false</expectJson>
		</formatter>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />		
	</root>
	
	<logger name="chapter4" additivity="true">
		<level value="DEBUG" />
	</logger>
	
	<logger name="chapter4.logback.RogueApplication" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="KAFKA" />
	</logger>
</configuration>